@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --color-brand-blue: #1A9ADA;
  --color-brand-dark: #323332;
  --color-brand-lime: #B7C32D;
}
